body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    justify-content: center;
    align-items: center;
}

.screen {
    display: none;
    text-align: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.screen.active {
    display: flex;
}

button {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 20px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
}

#captureButton, #cropButton, #restartButton {
    background-color: #4CAF50; /* Green */
}

#uploadInput {
    display: none;
}

#progressContainer {
    position: fixed;
    bottom: 15%;
    width: 80%;
    left: 10%;
    background-color: #ddd;
}

#analysisResult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 20px;
}

#analysisResult p {
    margin: 10px 0;
    color: #333;
}

#analysisResult .result-conclusion {
    background-color: #80c904;
    color: #fff;
    padding: 15px;
    margin: 20px 0;
    border-radius: 20px;
    font-weight: bold;
    width: 100%; /* Full width */
    text-align: center;
}

/* Responsive Image */
#preview {
    max-width: 100%;
    max-height: 80vh;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

/* Add responsiveness to the video */
#video {
    width: 100%; /* Full width */
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

/* Hide the cropper container initially */
#cropContainer {
    display: none;
    width: 100%;
}

/* This will style the div that holds the cropped image preview */
#cropPreview {
    width: 100%; /* Full width */
    margin-bottom: 20px;
}

/* Adjust the restart button to match the design */
#restartButton {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    border-radius: 20px;
    font-size: 18px;
    margin-top: 20px;
}

#croppedImage {
    width: 350px; /* Set the width of the cropped image */
    height: 200px; /* Set the height of the cropped image */
    object-fit: cover; /* Ensure the aspect ratio is maintained without stretching the image */
    margin-bottom: 20px; /* Add some space between the image and the text result */
}

#diseaseInfoScreen {
    text-align: center;
    padding: 20px;
}

#backButton {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
}

.history-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 150px; /* Add margin to avoid overlap with fixed header */
}

.history-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #cc1c;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.history-photo {
    width: 150px; /* 設定照片的固定寬度 */
    height: 150px; /* 設定照片的固定高度 */
    object-fit: cover; /* 保持照片比例並裁切 */
}

.history-info {
    margin-top: 10px;
    text-align: center;
}

/* Header styles */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:#4CAF50;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    z-index: 10;
}

.header h2 {
    margin: 0;
    align-items: center;
    justify-content: center;
}

#usernameDisplay {
    font-size: 18px;
    font-weight: bold;
}